<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <title>minibin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <style type="text/css">
    body {
      font-family:arial;
    }
    textarea {
        font-family: monospace;
        display: block;
        width:100%;
        overflow: auto;
        margin-bottom: 0.2em;
        min-height:20em;
    }
    .paste_info {
      margin-bottom: 0.2em;
      width: 20em;
    }
  }
  </style>
</head>
  {% endblock %}
<body>
 {% block navbar %}
    {% include 'navbar.html' %}
  {% endblock %}
  <div class="container">
    {% for message in get_flashed_messages() %}
      <div class="alert alert-danger" role="alert"><strong>Error:</strong> {{ message }}</div>
    {% endfor %}
  {% block content %}
  {% endblock %}
</div>
</body>
</html>