SQLALCHEMY_DATABASE_URI = 'postgresql://user:pass@localhost/dbname'
RECAPTCHA_PUBLIC_KEY = ''
RECAPTCHA_PRIVATE_KEY = ''
RECAPTCHA_VERIFY_URL = 'https://www.google.com/recaptcha/api/siteverify'
SECRET_KEY = ''
DEBUG = True
