{% extends "base.html" %}
{% block content %}
    {% for paste in pastes %}
        {{ paste.created_on }}<br>
        <a href="{{ url_for('frontend.view_paste', url_id=paste.url_id) }}">
        {{ paste.content[30:] if paste.content|length > 150 else paste.content }}</a>
        <br>
        <br>
    {% endfor %}
    {% if pastes.has_prev %}
        <a href="{{ url_for('frontend.search', page=pastes.prev_num) }}"> Prev </a>
    {% endif %}
    {% if pastes.has_next %}
        <a href="{{ url_for('frontend.search', page=pastes.next_num) }}"> Next </a>
    {% endif %}
{% endblock content %}